/* montserrat-regular - latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/montserrat-v25-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/montserrat-v25-latin_cyrillic-ext_cyrillic-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: local(''),
		url('../fonts/montserrat-v25-latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/montserrat-v25-latin_cyrillic-ext_cyrillic-600.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../fonts/montserrat-v25-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/montserrat-v25-latin_cyrillic-ext_cyrillic-700.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	src: local(''),
		url('../fonts/montserrat-v25-latin_cyrillic-ext_cyrillic-800.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/montserrat-v25-latin_cyrillic-ext_cyrillic-800.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* :root {
	--color-orange: #ff9900;
	--color-orange-light: #ffb84d;
	--color-orange-dark: #e1670e;
	--color-white: #ffffff;
	--color-grey-light: #CACACA;
	--color-grey: rgba(0, 0, 0, 0.5);
	--color-grey-dark: #666666;
	--color-black-light: #414141;
	--color-black: ##000000;
} */

a {
	text-decoration: none;
	color: inherit;
}

p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
}

html {
	font-family: 'Montserrat', sans-serif;
}

.site-container {
	margin: 0 auto;
	max-width: 1920px;
	background-color: #e5e5e5;
}

.container {
	margin: 0 auto;
	max-width: 1770px;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: #000000;
}

.title {
	font-weight: 400;
	font-size: 48px;
	line-height: 59px;
	/* identical to box height */
	color: #000000;
}

.btn {
	padding: 19px 38px;
	background-color: #ff9900;
	border-radius: 16px;
	border: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 19.5px;
	text-align: center;
	color: #FFFFFF;
	cursor: pointer;
}

.btn:hover {
	background-color: #FFB84D;
}

.btn:focus {
	background-color: #FFB84D;
}

.btn:active {
	background-color: #E1670E;
}

/* HEADER-------------- */

.header__container,
.header__list {
	display: flex;
	justify-content: space-between;
	align-items: center;

}




.header {
	padding: 14px 0;
	background: #FFFFFF;
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 32px 32px;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
}

.header__list {
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
}

.header__item:not(:last-child) {
	margin-right: 85px;
}

.header__link:hover {
	border-bottom: 2px solid #FF9900;
}

.header__link:focus {
	border: 2px solid #FF9900;
}

.header__link:active {
	color: #E1670E;
	border-bottom: 2px solid;
}

.burger {
	display: none;
	border: none;
	width: 30px;
	height: 23px;
	background: url("/images/header/burger.png")center center no-repeat;
	cursor: pointer;
}

.burger:focus {
	padding: 16px;
	border: 2px solid #FF9900;
}

.header__logo {
	min-width: 150px;
	min-height: 48px;
}

.nav {
	display: flex;
	align-items: center;
}

.header__search {
	margin-left: 260px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.header__search:hover svg path {
	stroke: #ff9900;
}

.header__search:hover svg rect {
	fill: #ff9900;
}

.header__search:focus {
	border: 2px solid #FF9900;
}


.search-form {
	display: flex;
	justify-content: center;
	padding: 16px 13px;
	position: fixed;
	right: 0;
	background: #FFFFFF;
	border-radius: 16px;
	color: #CACACA;
	z-index: 2;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
	
}

.search-form__hidden {
	display: none;
}


.search-input {
	margin-left: 32px;
	border: none;
	border-bottom: 1px solid;
	width: 412px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

.form__btn-close,
.form__btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.form__btn-close:hover svg rect {
	fill: #FF9900;
}

.form__btn-close:hover svg circle {
	stroke: #FF9900;
}




/* hero ------------------- */

.hero__container {
	left: 80px;
	top: 100px;
	position: absolute;
	z-index: 2;
	color: #FFFFFF;

}

.swiper {
	margin-top: 50px;
	margin-bottom: 50px;
	height: 620px;
	border-radius: 32px;
}

.hero__banner_1 {
	background: url(/images/hero/low-angle-photo-of-balconies-2462015\ 1.jpg) center center no-repeat;
}

.hero__banner_2 {
	background: url(/images/hero/hero-pic-1920-2.jpg) center center no-repeat;
}

.hero__banner_3 {
	background: url(/images/hero/hero-pic-1920-3.jpg) center center no-repeat;
}

.hero__title {
	margin: 0;
	margin-bottom: 24px;
	max-width: 837px;
	font-weight: 800;
	font-size: 70px;
	line-height: 85px;
}

.hero__descr {
	margin-bottom: 90px;
	max-width: 790px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.hero__btn {
	padding: 25px 39px;
	font-size: 23px;
	line-height: 28px;
}

/* .hero__info {

} */

/* ABOUT-----------------*/

.about__container {
	margin-bottom: 100px;
}

.about__title {
	margin-bottom: 20px;
}

.about__text {
	margin-bottom: 50px;
	max-width: 1235px;
}

.about__content {
	display: flex;
	justify-content: space-between;
}

.about__content_left {
	width: 868px;
	height: 622px;
	padding: 426px 0 0 0;
	font-weight: 700;
	background: url(/images/about/Rectangle\ 2.jpg) center center no-repeat;
	border-radius: 32px;
	color: #FFFFFF;
}

.about__text-btn {
	padding: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 32px;
}

.about__text_left {
	width: 433px;
}

.about__btn {
	line-height: 19.5px;
	background-color: transparent;
	border: 3px solid #ff9900;
}

.about__content_right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.about__content_right-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 65px 118px 65px 60px;
	width: 870px;
	height: 295px;
	background: #FFFFFF;
	border: 1px solid #CACACA;
	border-radius: 32px;
}

.about__content_text {
	max-width: 452px;
}

.about__content_text::first-line {
	font-size: 24px;
	font-weight: 700;
	line-height: 38px;
}

/* HOW ===================================== */

.how__title {
	margin-bottom: 50px;
}

.tabs {
	display: flex;
	flex-direction: row;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.tabs__btn {
	margin-bottom: 45px;
	border: none;
	background: transparent;
	line-height: 22px;
}

.tabs__btn:hover {
	color: #ff9900;
}

.tabs__btn:focus {
	border: 2px solid #ff9900;
}

.tabs__btn:active {
	border: none;
	color: #E1670E;
}

.tabs__btn-active {
	border: none;
	color: #E1670E;
}

.tabs__item:not(:last-child) {
	margin-right: 86px;
}

.tab__descr {
	max-width: 758px;
}

.tab-content {
	display: none;
	margin-bottom: 30px;
}

.tab-content-active {
	display: block;
}

.tab-content__item {
	display: flex;
	justify-content: space-between;
}

.tab-content__left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tab__image,
.tab__image2,
.tab__image3,
.tab__image4 {
	width: 870px;
	max-width: 870px;
	max-height: 460px;
	border-radius: 32px;
}

.tab__image {
	background: url(/images/how/Rectangle\ 18.jpg) center center no-repeat;
}

.tab__image2 {
	background: url(/images/how/Rectangle\ 19.jpg) center center no-repeat;
}

.tab__image3 {
	background: url(/images/how/Rectangle\ 19\ \(1\).jpg) center center no-repeat;
}

.tab__image4 {
	background: url(/images/how/Rectangle\ 20.jpg) center center no-repeat;
}

.btn-dogr {
	margin-left: 32px;
	color: #000000;
	background: transparent;
	border: 1px solid;
}


/* FAQ========================= */

.ui-accordion-header {
	background-color: red;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #red;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}

/* FOOTER ============================================= */

.footer {
	margin-top: 100px;
	background-color: #000000;
}

.footer__container {
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #CACACA;
}

.footer__logo {
	margin-bottom: 20px;
}

.footer__nav {
	margin-bottom: 90px;
}

.footer__item {
	font-weight: 600;
	font-size: 18px;
	line-height: 36px;
}

.footer__item:hover {
	color: #FF9900;
}

.footer__item:focus {
	border: 2px solid #FF9900;
}

.footer__item:active {
	border: none;
	color: #E1670E;
}

.form__title {
	margin-bottom: 25px;
	color: #CACACA;
}

.footer__form {
	/* margin-right: 236px; */
	display: flex;
	flex-direction: column;
	border: none;
}

.userinfo,
.mail,
.message {
	padding-left: 24px;
	background-color: #414141;
	border: none;
	border-radius: 16px;
	/* transform: matrix(0, -1, -1, 0, 0, 0); */
}

.footer__btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__dscr {
	max-width: 363px;
}

.userinfo,
.mail {
	margin-bottom: 25px;
	max-width: 570px;
	height: 60px;

}

.message {
	padding-top: 14px;
	margin-bottom: 32px;
	width: 570px;
	height: 150px;
}

@media (max-width: 1760px) {
	.header__search {
		display: none;
	}
}

/* 1024 media ============================== */

@media (max-width: 1024px) {

	.container {
		max-width: 924px;
	}

	.burger {
		display: block;
		z-index: 11;
	}

	.header__logo {
		max-width: 150px;
		min-height: 28px;
	}

	.header__list {
		/* display: none; */
		position: absolute;
		margin: 0 0;
		padding: 170px 106px 229px 50px;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		background-color: #FFFFFF;
		z-index: 10;
		color: #333333;
		transition: transform 0.7s ease-in-out;
		transform: translateX(-100%);
	}

	.is-active {
		/* display: block; */
		transition: transform 0.7s ease-in-out;
		transform: none;
	}

	.burger__is-active {
		background: url(/images/header/X.png) center center no-repeat;
	}


	.header__search {
		display: block;
		margin-left: 0;
	}

	.swiper {
		margin-top: 40px;
		margin-bottom: 35px;
		height: 668px;
	}

	.hero__banner_1 {
		background: url(/images/hero/low-angle-photo-of-balconies-2462015\ 1\ \(1\).jpg) center center no-repeat;
	}

	.hero__banner_2 {
		background: url(/images//hero/hero-pic-1024-2.jpg) center center no-repeat;
	}

	.hero__banner_3 {
		background: url(/images/hero/hero-pic-1024-3.jpg) center center no-repeat;
	}

	.about__container {
		margin-bottom: 80px;
	}

	.about__content {
		flex-direction: column;
		align-items: center;

	}

	.about__content_left,
	.about__content_right-block {
		margin-bottom: 32px;
	}

	.tab__image,
	.tab__image2,
	.tab__image3,
	.tab__image4,
	.tab-content__left {
		max-width: 437px;
		min-height: 689px;
	}

	.tab__image {
		background: url(/images/how/Rectangle\ 18\ 1024.jpg) center center no-repeat;
	}

	.tab__image2 {
		background: url(/images/how/how-pic-1024-2.jpg) center center no-repeat;
	}

	.tab__image3 {
		background: url(/images/how/how-pic-1024-3.jpg) center center no-repeat;
	}

	.tab__image4 {
		background: url(/images/how/how-pic-1024-4.jpg) center center no-repeat;
	}

	.footer__dscr {
		display: none;
	}

}